

.estiloCartilla {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  grid-template-rows: auto;
  align-items: center;
  border-radius: 5px;
  position: relative;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.planta {
  background-color: #40c6a9;
  border-radius: 10px;
}
.fuego{
  background-color: #ff5757;
  border-radius: 10px;
}
.agua {
  background-color: #76befe;
  border-radius: 10px;
}
.electrico{
  background-color: #F8D030;
  border-radius: 10px;
}
.bicho{
  background-color: #f48e46;
  border-radius: 10px;
}
.normal{
  background-color: #423830;
  border-radius: 10px;
}

.paraTextoGlobal {
  grid-column: 2;
  color:rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  size: 18px;
}

.itemDescriptor {
  margin: 5px 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 5px;
}

.peque {
  grid-column: 3;
  padding: 5px 10px;
  font-size: 1.2em;
  background-color: #a4e3d7;
  border-radius: 20px;
  border-style: none;
  
}

.ventana-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido-popup {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.edicionImgPop {
  max-width: 200px;
}
.tema{
  color:rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-left: 20px;
}
.textoPokemon {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
}

.estiloIndividual {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: white;
  
}

.estilosParaLista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
  text-transform: capitalize;
}


@media (max-width: 600px) {
  .estiloCartilla {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  .paraTextoGlobal,
  .peque {
    grid-column: 1;
  }

  .estilosParaLista {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) {
  .estilosParaLista {
    grid-template-columns: repeat(4, 1fr);
  }
}
.ventana-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}



.circulo-transparente {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  bottom: -70px;
  left: 90%;
  transform: translateX(-50%);
  display: inline-block;
}

.edicionImg {
  width: 150px;
}


.circulito {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  left: 78%;
  transform: translateX(-50%);
  display: inline-block;
}

@media (max-width: 600px) {
  .estilosParaLista {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .estilosParaLista {
    grid-template-columns: repeat(2, 1fr);
}
}
@media (min-width: 901px) and (max-width: 1300px) {
  .estilosParaLista {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1201px) {
  .estilosParaLista {
    grid-template-columns: repeat(4, 1fr);
  }
}

.contenedorTarjeta{
  padding-left:20px;


}

.moverImgTarjeta{
  top:-20px;

}